*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
}

.cardStock{
    width: 450px;
    height: 40px;
    border: solid black  ;
    border-radius: 8px;
    display: flex;
    margin: 5px;
    padding: 5px;
}